# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage

# next.js
.next/
/.next/
/out/
src/.next/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
firebase-debug.log
ui-debug.log


# example env instructions
.env
# configs/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.firebase/hosting.cHVibGlj.cache
sw.js
workbox-4d0bff02.js

/public/firebase-messaging-sw.js
public/workbox-432e0d0b.js
public/workbox-c2b5e142.js
public/robots.txt
public/sitemap.xml
firestore-debug.log
gstproj/118908053_ExamForm_6Ec3fY2.PDF
gstproj/118908053_ExamForm.PDF
gstproj/manage.py
gstproj/app/__init__.py
gstproj/app/admin.py
gstproj/app/apps.py
gstproj/app/models.py
gstproj/app/serializers.py
gstproj/app/tests.py
gstproj/app/views.py
gstproj/app/__pycache__/__init__.cpython-39.pyc
gstproj/app/__pycache__/admin.cpython-39.pyc
gstproj/app/__pycache__/apps.cpython-39.pyc
gstproj/app/__pycache__/models.cpython-39.pyc
gstproj/app/__pycache__/serializers.cpython-39.pyc
gstproj/app/__pycache__/views.cpython-39.pyc
gstproj/app/migrations/__init__.py
gstproj/app/migrations/0001_initial.py
gstproj/app/migrations/0002_user_password.py
gstproj/app/migrations/0003_rename_user_gstuser.py
gstproj/app/migrations/__pycache__/__init__.cpython-39.pyc
gstproj/app/migrations/__pycache__/0001_initial.cpython-39.pyc
gstproj/app/migrations/__pycache__/0002_user_password.cpython-39.pyc
gstproj/app/migrations/__pycache__/0003_rename_user_gstuser.cpython-39.pyc
gstproj/gstproj/__init__.py
gstproj/gstproj/asgi.py
gstproj/gstproj/settings.py
gstproj/gstproj/urls.py
gstproj/gstproj/wsgi.py
gstproj/gstproj/__pycache__/__init__.cpython-39.pyc
gstproj/gstproj/__pycache__/settings.cpython-39.pyc
gstproj/gstproj/__pycache__/urls.cpython-39.pyc
gstproj/gstproj/__pycache__/wsgi.cpython-39.pyc
gstproj/db.sqlite3
gstproj/app/__pycache__/__init__.cpython-310.pyc
gstproj/app/__pycache__/admin.cpython-310.pyc
gstproj/app/__pycache__/apps.cpython-310.pyc
gstproj/app/__pycache__/models.cpython-310.pyc
gstproj/app/__pycache__/serializers.cpython-310.pyc
gstproj/app/__pycache__/views.cpython-310.pyc
gstproj/app/migrations/__pycache__/__init__.cpython-310.pyc
gstproj/app/migrations/__pycache__/0001_initial.cpython-310.pyc
gstproj/app/migrations/__pycache__/0002_user_password.cpython-310.pyc
gstproj/app/migrations/__pycache__/0003_rename_user_gstuser.cpython-310.pyc
gstproj/gstproj/__pycache__/__init__.cpython-310.pyc
gstproj/gstproj/__pycache__/settings.cpython-310.pyc
gstproj/gstproj/__pycache__/urls.cpython-310.pyc
gstproj/gstproj/__pycache__/wsgi.cpython-310.pyc
gstproj/pj_g3XuTkg.gif
gstproj/pj-new_lIGAqCl.jpeg
gstproj/pj-new.jpeg
gstproj/pj.gif
src/configs/firebaseConfig.json
