@import "./base.scss";

h1 {
  margin: 0;
  font-size: $fontSizeH1;
  font-weight: $fontWeightBlack;
  line-height: 110%;
  letter-spacing: 1px;
}

h2 {
  font-size: $fontSizeH2;
  font-weight: $fontWeightBlack;
}

h3 {
  font-size: $fontSizeH3;
  font-weight: $fontWeightBold;
}

h4 {
  font-size: $fontSizeH4;
  font-weight: $fontWeightBold;
}

a {
  color: $primaryColor;
  &:hover {
    text-decoration: none;
  }
}

.static {
  margin-top: $gutter * 5;
  padding-bottom: $gutter;
  font-size: $fontSize + $gutter/2;
  font-weight: $fontWeightLight;
  line-height: $fontSize + $gutter + 3;

  p {
    margin-bottom: $gutter * 3;
    line-height: $fontSize + $gutter + 3;
  }

  ol {
    margin-bottom: $gutter * 2;
    list-style-type: auto;
    list-style-position: outside;

    li {
      padding-bottom: $gutter * 2;
      margin-left: $gutter * 3;
    }
  }
}

.btnPrimary {
  @include btnPrimary();
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
