.dashboard {
  padding-top: $gutter * 2;

  .header {
    margin-bottom: $gutter * 3;
    .heading {
      color: $textColorLight;
      font-size: $fontSizeH4;
      font-weight: $fontWeightBold;
    }
  }

  .upload {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: $gutter * 3;
    padding: $gutter * 2;
    border: 1px solid $grayLighter;
    border-radius: $borderRadius;
    text-align: center;

    .label {
      margin: $gutter * 3 0;
      font-weight: $fontWeightBold;
    }

    label {
      text-transform: capitalize;
    }
  }

  .action {
    margin-bottom: $gutter * 5;

    button {
      text-transform: capitalize;
    }
  }

  .list {
    max-width: $sm;
    text-transform: capitalize;
  }
}
